@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 250, 249, 246;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}